/*
 *= require_tree .
 *= require_self
*/

body {
  background-color: #2f4009;
}

* {
  color: white;
  font-size: 14px;
  line-height: 24px;
  margin: 0px;
  padding: 0px;
  font-family: 微软雅黑,黑体,宋体
}

h1 {
  font-size: 48px;
  line-height: 48px;
}

h2 { font-size: 36px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }

p { margin: 0px; padding: 0px; }

a {
  color: white;
  font-weight: bold;
}

input {
  color: black;
  padding: 0px 10px;
  margin-left: 10px;
  border: none;
  height: 36px;
  &:focus { outline: none !important; }
}

button {
  width: 70px;
  height: 28px;
  color: #888;
  background-color: #eee;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button.confirm {
  background-color: #1BA1E2;
  color: white;
}

.clear { clear: both; }
.hidden { display: none; }

#content {
  width: 960px;
  height: 650px;
  padding: 48px 90px 50px 90px;
  margin: 0 auto;

  #header {
    margin: 0 5px;
    height: 72px;

    .left {
      float: left;
      line-height: 24px;
    }
    .right {
      float: right;
      height: 48px;
      width: 150px;
      h1 {
        float: left;
        height: 48px;
        margin-right: 5px;
      }
    }
  }

  .field {
    clear: both;
    margin-top: 6px;
    margin-bottom: 6px;
    label {
      width: 310px;
      display: block;
      text-align: right;
      font-size: 24px;
      font-weight: bold;
      line-height: 48px;
      float: left;
    }
    input {
      width: 280px;
    }

    label.message {
      width: 270px;
      height: 36px;
      text-align: left;
      margin-right: 5px;
      padding-left: 40px;
      font-size: 14px;
      line-height: 36px;
      float: right;
      background: red image_url('icons/metro/white_with_circle/Error.png') no-repeat left;
      background-size: 24px 24px;
      background-position: 10px;
      
    }
  }
  .alert {
    margin-top: 24px;
    margin-left: 320px;
    padding-left: 40px;
    width: 260px;
    height: 36px;
    line-height: 36px;
    background: red image_url('icons/metro/white_with_circle/Error.png') no-repeat left;
    background-size: 24px 24px;
    background-position: 10px;
  }
  .actions {
    margin-top: 24px;
    margin-left: 320px;
  }

  #sign-up, #authorization {
    margin: 48px 5px 0px 5px;
    padding-top: 24px;
    padding-right: 10px;
    height: 312px;
    background-color: #f09609;
  }

  #sign-in {
    margin: 48px 5px 0px 5px;
    padding-top: 24px;
    width: 630px;
    height: 312px;
    background-color: #f09609;
    float: left;
    .actions {
      button {
        margin-right: 10px;
      }
      input {
        margin-left: 0;
        margin-right: 5px;
        height: 14px;
        outline: none;
      }
    }
  }

  #third-party-sign-in {
    margin-top: 48px;
    width: 320px;
    height: 336px;
    float: right;
    ul {
      margin-left: 80px;
      li {
        list-style-type: none;
        width: 105px;
        height: 105px;
        margin-right: 10px;
        margin-bottom: 10px;
        float: left;
        background-color: #1BA1E2;
      }
    }
  }

  #authorization {
    .description {
      margin-left: 270px;
      margin-top: 24px;
      ul {
        margin-top: 24px;
        margin-left: 40px;
        li { line-height: 24px; }
      }
    }
    .actions {
      margin-top: 144px;
      margin-left: 540px;
      button {
        float: left;
        margin: 0px 5px;
      }
    }
  }

  #footer {
    margin-top: 48px;
    margin-left: 5px;
  }

  #users {
    width: 900px;
    height: 360px;
    margin-top: 48px;
    .pagination {
      clear: both;
      margin-right: 5px;
      text-align: right;
    }
    ul {
      height: 360px;
      li.user-card {
        display: block;
        background-color: white;
        width: 170px;
        height: 96px;
        margin: 0px 5px 24px 5px;
        float: left;
        div.indicator {
          float: left;
          height: 96px;
          width: 5px;
          background-color: #f09609;
        }
        div.avatar {
          float: right;
          margin: 8px;
        }
        div.email {
          color: #555;
          position: relative;
          top: 48px;
          font-size: 11px;
          line-height: 24px;
          padding-left: 10px;
        }
      }
    }
  }
}
